<div class='d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12'>
  <div class='login-register-form-wrap'>
    <div class='content'>
      <h1>ورود</h1>
      <P>اگه عضو Adomax هستید وارد شوید</P>
    </div>
    <div class='login-register-form'>
      {{#if hasError}}
        {{#each errors}}
          <div class='alert alert-danger' role='alert'>
            {{this}}
            <button class='close' data-dismiss='alert'><i class='ti-close'></i></button>
          </div>
        {{/each}}
      {{/if}}
      <form action='/auth/login' method='POST'>
        <div class='row'>
          <div class='col-12 mb-20'><input class='form-control' name='email' type='email' placeholder='نام کاربری / ایمیل' /></div>
          <div class='col-12 mb-20'><input class='form-control' name='password' type='password' placeholder='رمز عبور' /></div>
          <div class='col-12 mb-20'>
            <label for='remember' class='adomx-checkbox-2'>
              <input id='remember' name='remember_me' type='checkbox' />
              <i class='icon'></i>مرا به خاطر داشته باش.
            </label>
          </div>
          <div class='col-12'>
            <div class='row justify-content-between'>
              <div class='col-auto mb-15'>آیا حساب کاربری ندارید؟ <a href='/auth/register'>هم اکنون ایجاد کنید.</a></div>
            </div>
          </div>
          <div class='col-12 mt-10'><button class='button button-primary button-outline'>ورود</button></div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class='login-register-bg order-1 order-lg-2 col-lg-7 col-12'>
  <div class='content'>
    <h1>ورود</h1>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</p>
  </div>
</div>