{{#each posts}}

  <div class='blog-post'>
    <a href='#'><img class='rounded mb-lg-5 mb-4' src='/static/assets/img/blog/b1.jpg' alt='card image' /></a>
    <h3 class=''><a href='#'>{{this.title}}</a></h3>
    <div class='meta font-lora my-4'>
      <a href='#'>{{this.full_name}}</a>
      <span class='meta-separator'></span>
      <a href='#'>{{this.created_at}}</a>
    </div>
    <p>{{this.excerpt}}</p>
  </div>

{{/each}}