<section class='section-gap'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-lg-8'>
        <div class='comments'>
          <h2 class='comments-title'> نظرات</h2>
          {{>comments/list comments=this.comments}}
        </div>

        <div class='comment-respond'>
          <h3 class='comment-reply-title mb-lg-5 mb-4'>
            پیام بگذارید
          </h3>
          <form role='form' class='comment-form' action='/p/{{post.slug}}/comments' method='POST'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='form-group'>
                  <input type='text' class='form-control' name='user_name' placeholder='نام*' required='' />
                </div>
              </div>
              <div class='col-md-4'>
                <div class='form-group'>
                  <input type='email' class='form-control' name='user_email' placeholder='ایمیل*' required='' />
                </div>
              </div>
              <div class='col-md-4'>
                <div class='form-group'>
                  <input type='text' class='form-control' placeholder='وب سایت' />
                </div>
              </div>
            </div>

            <div class='form-group'>
              <div class='controls'>
                <textarea id='message' name='user_comment' rows='5' placeholder='نظر*' class='form-control' required=''></textarea>
              </div>
            </div>
            <p class='text-muted'>آدرس ایمیل شما منتشر نخواهد شد. فیلدهای مورد نیاز علامت گذاری شده اند *</p>
            <div class='text-center mt-md-5'>
              <button type='submit' class='btn btn-theme'>ارسال</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>