<div class='component-section'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8'>
        <div class='row'>
          <div class='author-image'>
            <img class='avatar-lg rounded-circle mb-3 d-inline-block' src='/static/upload/avatars/{{post.author.user_avatar}}' alt='توماس جانسون' />
          </div>
          <div class='author-info'>
            <h4>{{post.author.full_name}}</h4>
            <h6 class="class='font-lora font-weight-normal mb-4'">{{post.author.description}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>