<footer class='app-footer bg-dark pb-0 border-0 text-md-left text-center'>
  <div class='container'>
    <div class='row align-items-center mb-md-5 mb-3'>
      <div class='col-md-4'>
        <img class='pr-3 mb-md-0 mb-4' src='/static/assets/img/logo-color.png' srcset='/static/assets/img/logo-color@2x.png 2x' alt='' />
      </div>
      <div class='col-md-8'>
        <span class='font-lora h5 font-weight-normal'>- یک بسته ساز قدرتمند خلاق برای بوت استرپ 4</span>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-4 mb-md-0 mb-4'>
        <p class='text-muted'>یک مجموعه بزرگ و قدرتمند از بسته بندی جزء مدرن برای ساختن وب سایت بهتر برای پروژه بعدی شما</p>
      </div>
      <div class='col-md-2 mb-md-0 mb-4'>
        <h6 class='mb-4'>حرکت کن</h6>
        <ul class='footer-link'>
          <li class='d-block'><a href='#'>پیش نمایش</a></li>
          <li class='d-block'><a href='#'>صفحات فرود</a></li>
          <li class='d-block'><a href='#'>صفحات اپ</a></li>
          <li class='d-block'><a href='#'>صفحات داخلی</a></li>
        </ul>
      </div>
      <div class='col-md-2 mb-md-0 mb-4'>
        <h6 class='mb-4'>پلتفرم</h6>
        <ul class='footer-link'>
          <li class='d-block'><a href='#'>iOS مک و </a></li>
          <li class='d-block'><a href='#'>آندروید و جاوا</a></li>
          <li class='d-block'><a href='#'>ویندوز</a></li>
          <li class='d-block'><a href='#'>لینوکس</a></li>
        </ul>
      </div>
      <div class='col-md-2 mb-md-0 mb-4'>
        <h6 class='mb-4'>جامعه</h6>
        <ul class='footer-link'>
          <li class='d-block'><a href='#'>پایگاه دانش</a></li>
          <li class='d-block'><a href='#'>یک کارشناس استخدام کنید</a></li>
          <li class='d-block'><a href='#'>گفت و گو</a></li>
          <li class='d-block'><a href='#'>تماس</a></li>
        </ul>
      </div>
      <div class='col-md-2 mb-md-0 mb-4'>
        <h6 class='mb-4'>شرکت</h6>
        <ul class='footer-link'>
          <li class='d-block'><a href='#'>درباره شرکت</a></li>
          <li class='d-block'><a href='#'>تاریخ</a></li>
          <li class='d-block'><a href='#'>تیم</a></li>
          <li class='d-block'><a href='#'>سرمایه گذاری</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class='app-secondary-footer mt-md-5 mt-3'>
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <span class='copyright'>© 2022 کلاب. تمام حقوق محفوظ است.</span>
        </div>
      </div>
    </div>
  </div>
</footer>