<footer class='app-footer bg-dark'>
  <div class='container'>
    <div class='row'>
      <div class='col text-center'>
        <span class='copyright'>تمامی حقوق مادی و معنوی این سایت متعلق به کلاب وبلاگ می باشد</span>
      </div>
    </div>
  </div>
</footer>