<header class='app-header transparent-header transparent-header-dark-nav'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='navbar-brand float-left'>
          <a href='/'>
            <img class='logo-dark' src='/static/assets/img/logo-dark.png' srcset='/static/assets/img/logo-dark@2x.png 2x' alt='CLab' />
          </a>
        </div>
        <div class='nav-btn hamburger hamburger--slider js-hamburger'>
          <div class='hamburger-box'>
            <div class='hamburger-inner'></div>
          </div>
        </div>
        <nav id='vl-menu'>
          <ul class='vlmenu light-sub-menu slide-effect float-right'>
            {{#if isAuthor}}
              <li><a href='/admin/posts/create'>ایجاد پست جدید</a></li>
              <li><a href='/logout'>خروج</a></li>
            {{else}}
              <li><a href='/auth/login'>ورود</a></li>
              <li><a href='/auth/register'>ثبت نام</a></li>
            {{/if}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>