{{>header}}
<section class='section-gap2 pb-0'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='col-md-12'>
        <section class='section-gap2 px-lg-5'>
          <div
            class='hero-img bg-overlay rounded overflow-hidden'
            data-overlay='2'
            style='background-image: url(/static/upload/thumbnails/{{post.thumbnail}});'
          ></div>
          <div class='container'>
            <div class='row align-items-center text-white'>
              <div class='col-md-8'>
                <h2>{{post.title}}</h2>
                <div class='meta font-lora my-4 text-white'>
                  <h5>{{post.created_at}}</h5>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
{{>author this}}
<section class='section-gap-3 pb-0'>
  <div class='container'>
    <div class='row justify-content-center'>
      <div class='blog-post-2 border-0 blog-single'>
        {{{post.content}}}
      </div>
    </div>
  </div>
</section>
{{>comments/index this}}