<div class='row mbn-30'>
  <div class='col-12 mb-30'>
    <div class='box'>
      <div class='box-head' style='display: flex; justify-content: space-between; align-items: center'>
        <h4 class='title'>ایجاد کاربر جدید</h4>
      </div>
      <div class='box-body'>
        <div class='col-lg-6'>
          <form action='/admin/users/store' method='POST'>
            <div class='row mbn-20'>
              <div class='col-12 mb-30'>
                {{#if hasError}}
                  <div class='alert alert-outline-secondary'>
                    {{#each errors}}
                      <p>{{this}}</p>
                    {{/each}}
                  </div>
                {{/if}}
              </div>
              <div class='col-12 mb-30'>
                <input name='full_name' type='text' id='formLayoutUsername3' class='form-control' placeholder='نام کامل کاربر' />
              </div>
              <div class='col-12 mb-30'>
                <input name='email' type='email' id='formLayoutUsername3' class='form-control' placeholder='ایمیل کاربر' />
              </div>
              <div class='col-12 mb-30'>
                <input name='password' type='password' id='formLayoutUsername3' class='form-control' placeholder='کلمه عبور' />
              </div>
              <div class='col-12 mb-30'>
                <h6 class='mb-15'>نقش کاربری</h6>
                <label><input type='radio' name='role' value='0' checked />کاربری</label>
                <label><input type='radio' name='role' value='1' />نویسنده</label>
                <label><input type='radio' name='role' value='2' />مدیر</label>
              </div>
              <div class='col-12 col-lg-6 mb-20'>
                <input type='submit' value='ذخیره سازی' class='button button-primary' />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>