<html class='no-js' lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>404</title>
    <meta name='robots' content='noindex, follow' />
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <link rel='stylesheet' href='/static/assets/css/vendor/bootstrap.min.css' />
    <link id='cus-style' rel='stylesheet' href='/static/assets/css/style-primary.css' />
  </head>

  <body dir='rtl'>
    <div class='main-wrapper'>
      <div class='content-body m-0 p-0'>
        <div class='error-wrap-2'>
          <div class='container'>
            <div class='row'>
              <div class='error-content col-lg-6 col-md-8 col-12 ml-auto'>
                <span class='display-1'>404</span>
                <h2 class='title'>ูุชุงุณูุงูู ุตูุญู  ููุฑุฏูุธุฑ ุงูุช ูุดุฏ ๐ข</h2>
                <a href='/' class='button button-secondary button-round'>ุจุงุฒฺฏุดุช ุจู ุตูุญู ุงุตู</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>