<html class='no-js' lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>ورود و ثبت نام در بلاگ آدومکس</title>
    <meta name='robots' content='noindex, follow' />
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <link rel='shortcut icon' type='image/x-icon' href='/static/assets/images/favicon.ico' />
    <!-- styles -->
    <link rel='stylesheet' href='/static/assets/css/vendor/bootstrap.min.css' />
    <link rel='stylesheet' href='/static/assets/css/helper.css' />
    <link rel='stylesheet' href='/static/assets/css/style.css' />
    <link id='cus-style' rel='stylesheet' href='/static/assets/css/style-primary.css' />
  </head>
  <body dir='rtl'>
    <div class='main-wrapper'>
      <div class='content-body m-0 p-0'>
        <div class='login-register-wrap'>
          <div class='row'>
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script src='/static/assets/js/vendor/jquery-3.3.1.min.js'></script>
    <script src='/static/assets/js/vendor/popper.min.js'></script>
    <script src='/static/assets/js/vendor/bootstrap.min.js'></script>
    <script src='/static/assets/js/plugins/perfect-scrollbar.min.js'></script>
    <script src='/static/assets/js/main.js'></script>
  </body>
</html>