<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <meta name='description' content='' />
    <meta name='author' content='Mosaddek' />
    <link rel='icon' type='image/png' href='/static/assets/img/favicon.png' />
    <title>بلاگ ادوکس - صفحه ی اصلی</title>
    <!-- styles -->
    <link href='/static/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/static/assets/vendor/vl-nav/css/core-menu.css' rel='stylesheet' />
    <link href='/static/assets/css/main.css' rel='stylesheet' />
  </head>
  <body class='{{bodyClass}}'>
    {{{body}}}
    {{>footer}}
    <!-- scripts -->
    <script src='/static/assets/vendor/jquery/jquery.min.js'></script>
    <script src='/static/assets/vendor/popper.min.js'></script>
    <script src='/static/assets/vendor/bootstrap/js/bootstrap.min.js'></script>
    <script src='/static/assets/vendor/vl-nav/js/vl-menu.js'></script>
    <script src='/static/assets/vendor/wow.min.js'></script>
    <script src='/static/assets/js/scripts.js'></script>
  </body>
</html>